@import './ToDoList.scss';

$width_div: 500px;

#todo-list {
    width: $width_div;
    margin: 60px auto;

    h1 {
        text-align: center;
        background-color: $color-blue;
        padding: 20px;
    }

    .button_nav{
        margin-right: 5%;
        background-color: $color-blue;
        width: 5.7rem;
        height: 2.9rem;
        color: $color-white;
        border-radius: 8px;   
        font-size: 16px;
        border: none;
    }
}